@font-face {
    font-family:'Comfortaa_light';
    src: url('FONTS/Comfortaa_light.ttf') format("truetype");
}
.html{
    align-items:center;
}
h1,p{
    font-family: 'Comfortaa',sans-serif;
}
.logos{
    display:flex;
    justify-content: space-between;

}
.kiwhe{
    width:25em;
    height:13.5em;
    margin:0;
    padding:0;
    cursor:pointer;
    padding:0%;
    min-height:
}
.gplay{
}
.body{
    margin:0%;
}
.page{
    display:flex;
    flex-direction:column;
    margin:0%;
}
.sections{
width:100%;
background-color: #DEDBDB;
border-radius:59px;
background-image: url('pistache7.png');
background-position: bottom -2% left -1%;
background-repeat: no-repeat;
}
.accroche1{
    text-align:left;
    color:#564b44;
    font-family:'Comfortaa';
    margin-left: 4%;
}
.formulaire{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly ;
    width: 100%;
    
}
/*SECTION 1*/


.section1{
    display:flex;  
}



/*DPE /!\ /!\ /!\ /!\ /!\*/

.dpe{
 display:flex;
 align-items:center;
 flex-direction:column;
}
.titre1{
    font-size:1.6em;
    font-family:'Comfortaa';
}
.pictosdpe{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width:350px;
}
.pictosdpe >label{
    padding:8px;
}
#CheckDpe{
    display:flex;
}
.pia{
    cursor: pointer;
}
.pib{
    cursor: pointer;
}
.pic{
    cursor: pointer;
}
.pid{
    cursor: pointer;
}
.pie{
    cursor: pointer;
}
.pif{
    cursor: pointer;
}
.pig{
    cursor: pointer;
}
/*SURFACE /!\ /!\ /!\ /!\ /!\*/

.surface{
display:flex;
align-items:center;
flex-direction:column;
flex-wrap:wrap;
}
.titre2{
    font-size:1.6em;
    font-family:'Comfortaa';
}
.saisie{
}
.surface > input{
    font-size:20px;
}


/*CHAUFFAGE /!\ /!\ /!\ /!\ /!\*/

.chauffage{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;
}
.pictoschauffage{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width:350px;
    cursor:pointer;   
}
.titre3{
    font-size:1.6em;
    font-family:'Comfortaa';
}
.pictoschauffage > label{
    padding:8px;
}
.elec{
    cursor: pointer;
}
.gazn{
    cursor: pointer;
}
.gazp{
    cursor: pointer;
}
.bois{
    cursor: pointer;
}
.gran{
    cursor: pointer;
}
.fiou{
    cursor: pointer;
}
/*SECTION 2*/

.section2{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:flex-end;
    justify-content: space-between;
    margin-bottom:3%;
}

.accroche2{
    color:#564b44;
    font-family:'Comfortaa';
    text-align:left;
    margin-left:4%;   
}
.pistache{
}
/*BOITE1*/

.boite1{
    background-color:white;
    border-radius:55px;
    width:65%;
    display:flex;
    flex-direction:column;
    z-index:20;
    margin-left:2%;
}
.euros{
    font-family:'Comfortaa';
    text-align:left;
    padding:2%;
}
#budgetMin{
    font-size:1.5em;
}
#budgetMax{
    font-size:1.5em;
}
.kwh{
    font-family:'Comfortaa';
    text-align:left;
    padding:2%;
}
#consoMin{
    font-size:1.5em;
}
#consoMax{
    font-size:1.5em;
}

/*BOITE 2*/

.boite2{
    width:30%;
    display:flex;
    justify-content:space-evenly;
}
.refaire{
    cursor:pointer;
    
}
.exporter{
    cursor:pointer;
    z-index:20;
}
/*section3 /!\ /!\ /!\ /!\ /!\*/

.section3{
    display:flex;
    justify-content:space-evenly;
    width:100%;
}
.reflex{
    margin-top:2%
}
.indice{
    margin-top:5%;
}
.accroche3{
    color:#564b44;
    font-family:'Comfortaa';
}
.loupe{
    padding-top:8%;
}
.info{
    display:flex;
    flex-direction:row;
    max-width:440px;
    font-size:1.5em;
}


/*media queries*/

@media all and (max-width:1300px)
{
    .formulaire{
        display:flex;
        flex-direction:column;
    }
    .titre1{
        font-size:1.9em;
        text-align:center;
    }
    .titre2{
        font-size:1.9em;
        text-align:center;
    }
    .titre3{
        font-size:1.9em;
        text-align:center;
    }    
    .surface > input{
        font-size:30px;
    }
    .surface{
        margin-bottom:3%;
    }
    .chauffage{
        margin-bottom:3%;
    }
    .boite1{
        min-width:600px;
    }
    .boite2{
        display:flex;
        margin:3%;
        width:100%;
    }
    .section3{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .consoeuro{
        font-size:1.2em;
    }
    .consokwh{
        font-size:1.2em
    }