@font-face {
    font-family:'Comfortaa_light';
    src: url('FONTS/Comfortaa_light.ttf') format("truetype");
}

p{
    font-family:'Comfortaa_light',sans-serif;
}
.page{
   display:flex;
}
/*rgb 222 219 219 0.6*/
.estimez_e{ 

}
.DPE{

}
.logo{
width:50mm;
height:25mm;
}
.indicedpe{
width:300px;
height:150px;


}
.logodpe{
    width:40em;
    height:30em;
}

.surfacelog{
}
.barresurface{
border-radius:11px;
}
.electrique{
    width:50px;
}

.gaznaturel{
    width:50px;
}

.bois{
    width:50px;
}

.granule{
    width:50px;
}

.fioul{
    width:50px;
}

.gazpropane{
    width:50px;
}

